<td width="40%" class="content" align="center">
	<p class="headerbar"><span class="bold">Tasting Sessions Categories</span></p>
	<p><%=link_to "Testing Session"-%></p>
	<p style="margin-bottom: 9px;"><%=link_to "Recipe", get_all_recipes_recipes_path-%></p>
</td>
<td>&nbsp;</td>
